<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    再放一个盒子用于重新写title标签:可以多个盒子用于以后扩写内容#}
    {% block title %}
        <title>base</title>
    block区域里面本身也可以写内容,如上面的block写入 <title>base</title>这样如果引用这个模板时不重写
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        *{
            padding:0;
            margin:0;
        }
        .header{
            width:100%;
            height:50px;
            background-color:blue;
        }
    </style>

</head>
<body>
{#模板语法之继承#}
<div class="header"></div>
<div class="container"></div>
<div class="row"></div>
<div class="col-md-3">
{#    想在这个地方调用advertise.html,就用include语法#}
    {% include 'advertise.html' %}
</div>
<div class="clo-md-9">
    继承:col-md-9
</div>
{#想在这个地方调用advertise.html,就用include语法#}

</body>
</html>